    <section  class="post">
      <header class="post-header">
      {{ if .Params.thumbnail }}
      <div class="post-avatar-wrapper">
        <img class="post-avatar" alt="" src="{{ .Params.thumbnail }}">
      </div>
      {{ end }}
      <h1 class="post-title">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </h1>
      </header>
      <p class="post-meta">
        {{ if not .Params.nodate }}
        <span class="post-date">
          <span class="post-date-day"><sup>{{ .Date.Format "2" }}</sup></span><span class="post-date-separator">/</span><span class="post-date-month">{{ .Date.Format "Jan" }}</span> <span class="post-date-year">{{ .Date.Format "2006" }}</span>
        </span>
        {{ end }}
        {{ if not .Params.noauthor }}
          {{ if .Params.author }}By <a class="post-author" {{ if .Params.authorlink }}href="{{ .Params.authorlink }}"{{ end }}>{{ .Params.author }}</a>{{ end }}
        {{ end }}
        {{ if not .Params.noread }}
          <span class="post-reading-time"><i class="fa fa-clock-o"></i> <em>{{.ReadingTime}} min. read</em></span>
        {{ end }}
        {{ if .Params.categories }}
          <div class="post-categories">
          {{ $Site := .Site }}
	  {{ if .Params.galleries }}
	    {{ range .Params.galleries }}
	    <a class="post-category post-gallery-{{ . | urlize }}" href="{{ $Site.BaseURL}}/galleries/{{ . | urlize }}">{{ . }}</a>
	    {{ end }}
	  {{end}} 
	  {{ range .Params.categories }}
            <a class="post-category post-category-{{ . | urlize }}" href="{{ $Site.BaseURL}}/categories/{{ . | urlize }}">{{ . }}</a>
          {{ end }}
          </div>
        {{ end }}
      </p>
      {{ if .Truncated  }}
        <article class="post-summary">
        {{ .Summary }}
        </article>
  <div class="read-more-link">
  <a href="{{ .RelPermalink }}"><span class="read-more-slashes">//</span>Read More...</a>
  </div>
      {{ else }}
      {{ if .Params.image_name }}
        <a href="/{{ .Params.image_name }}" data-lightbox="set1" > <img src="/{{ .Params.image_name }}" style="max-width: 60%;" /></a>
      {{ end }}
        {{ .Content }}
      {{ end }}
    </section>
